#wrapper{
         
         background-color:white;
         
		 }
#header{
      
		 height:100px;
}
.header-text{
font-family: Verdana,Arial,Helvetica,sans-serif;
padding-bottom: 20px;
font-size: 56pt;
}
#navigation{
     height:200px;
	 margin-left:105px;
	 }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
}
li {
    float: left;
}
li a {
    display: block;
    
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;
}
li a:hover {
    background-color: grey;
}	
#content {
border-style: solid;
margin-left:100px;
margin-right:50px;
height:300px;
}
img {
    float: left;
   
    margin: 0px 0px 15px 20px;
}
#sub-content{
   margin-left:100px;
   }	
#footer{
text-align:center;
 margin-left:50px;
margin-right:15px;
} 